.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__part {
  color: var(--primary-text-color);
}
.logo-title {
  color: var(--white-color);
}
